<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="StMartinBelegimport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="StMartinBelegimport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <applicationSettings>
        <StMartinBelegimport.Properties.Settings>
            <setting name="BelegPfadFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="ArtikelPfadFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="BelegPfadLokal" serializeAs="String">
                <value>E:\Kunden\Heck\Export</value>
            </setting>
            <setting name="ArtikelPfadLokal" serializeAs="String">
                <value>E:\Kunden\Heck\Export</value>
            </setting>
            <setting name="Datenbank" serializeAs="String">
                <value>StMartin</value>
            </setting>
            <setting name="Mandant" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OLBenutzer" serializeAs="String">
                <value>Sage</value>
            </setting>
            <setting name="OLKennwort" serializeAs="String">
                <value />
            </setting>
            <setting name="IntervallExport" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IntervallImport" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value>u72892925</value>
            </setting>
            <setting name="FTPKennwort" serializeAs="String">
                <value>mvemjsunp9</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Preisliste" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExportZeit" serializeAs="String">
                <value>30.05.02013 20:30:00</value>
            </setting>
            <setting name="ABImportAktiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RechnungsImportAktiv" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ArtikelExportAktiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RechnungsPfadLokal" serializeAs="String">
                <value>E:\Kunden\Heck\Export\Rechnungen</value>
            </setting>
            <setting name="Buchungstext" serializeAs="String">
                <value>Prokas Ausbuchung</value>
            </setting>
            <setting name="SachkontoAusbuchung" serializeAs="String">
                <value>S12000</value>
            </setting>
        </StMartinBelegimport.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <StMartinBelegimport.Properties.Settings>
            <setting name="LetzterExport" serializeAs="String">
                <value>30.05.2024 00:00:00</value>
            </setting>
            <setting name="LetzterImport" serializeAs="String">
                <value>30.05.2024 00:00:00</value>
            </setting>
            <setting name="LetzteAnmeldung" serializeAs="String">
                <value>01/01/2018 01:05:00</value>
            </setting>
        </StMartinBelegimport.Properties.Settings>
    </userSettings>
</configuration>
